[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pronunciation-dictionary = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"

[packages]

[requires]
python_version = "3.8"
