[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pronunciation-dictionary = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"
pytest = "*"
cx-freeze = "*"

[packages]
ordered-set = "*"
tqdm = "*"

[requires]
python_version = "3.8"
